@import-normalize;

body {
  font-family: "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  margin: 0;
}

#root,
#root > div,
#root > div > div {
  min-height: 100vh;
}

@mixin grid-item {
  .grid-item-empty {
    color: grey;
    text-align: center;
    .grid-item-empty-icon {
      height: 4rem;
      width: 4rem;
      margin: 1rem;
    }
    .grid-item-empty-text {
      display: block;
    }
  }
  .grid-item-icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
  }
  .grid-item-text-button {
    align-items: normal;
    border: none;
    justify-content: left;
    height: auto;
    margin: 0;
    min-width: auto;
    padding: 0;
    text-align: left;
  }
  .grid-item-text-number {
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 1rem;
  }
  .grid-item-menu {
    background-color: transparent;
    min-height: auto;
  }
  .grid-item-menu-item {
    border: none;
    margin: 0;
    padding: 0;
    & > span {
      margin: 0;
      padding: 0;
    }
  }
  .grid-item-menu-item-view-all {
    color: grey;
    text-align: center;
  }
}

@media (max-width: 599px) {
  .grid-container {
    padding: 0.25rem;
    .grid-item {
      padding: 0.25rem;
      @include grid-item();
    }
  }
}

@media (min-width: 600px) {
  .grid-container {
    padding: 1rem;
    .grid-item {
      padding: 0.5rem;
      @include grid-item();
    }
  }
}
