<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Content-Security-Policy" value="default-src 'self'; connect-src 'self' *.azure.com *.microsoft.com *.office.net; frame-ancestors 'self' teams.microsoft.com; img-src 'self' blob: data:; style-src 'self' 'unsafe-inline'" />
        <add name="Permissions-Policy" value="camera=(), fullscreen=(), geolocation=(), microphone=()" />
        <add name="Referrer-Policy" value="same-origin" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>
</configuration>
